
  <!-- <app-left-sidebar></app-left-sidebar> -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

  <style>
    .form-control{
      border: none;
    }
  </style>
 <div class="content">
    <div class="container-fluid">
      <div class="row">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modelId">
        Thêm mới <i class="material-icons">add</i>
      </button>
      
      
      <div class="navbar-form">
        <div class="input-group no-border timkiem">
          <input type="text" [(ngModel)]="keyword" name="keyword" ngDefaultControl  class="form-control" placeholder="Tìm kiếm...">

          <!-- <ul>
            <li *ngFor="let item of product$ |async ">
              đây
           
            </li>
          </ul> -->
          <button type="submit" (click)="Search()" name="ok" class="btn btn-white btn-round btn-just-icon">
            <i class="material-icons" >search</i>
            <div class="ripple-container"></div>
          </button>
        </div>
      </div>
     

      <!-- Modal -->
      <div class="modal fade " id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title">Nhập thông tin dự án mới</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            <div class="modal-body">
              <div class="container-fluid">
               
                <div class="form-group bmd-form-group">
                  <label class="bmd-label-floating">Tên sản phẩm</label>
                 
                  <input type="text" name="name" [(ngModel)]="pro.nameProject" class="form-control">
                </div>
                
               
               
                <div>
                  <label class="bmd-label-floating">Hình ảnh đại diện của dự án</label>
                  <input type="file"  class=""name="avatar" [(ngModel)]="pro.avatarProject" id="">
                  <!-- <input type="file"name="avatar" [(ngModel)]="pro.avatarProject" class="form-control"> -->
                </div>
                <div class="form-group bmd-form-group">
                    <label class="bmd-label-floating">Hình ảnh khác của dự án</label>
                    <input type="text"name="Quantity" [(ngModel)]="pro.imageProject" class="form-control">
                  </div>
                <div class="form-group bmd-form-group">
                  <label class="bmd-label-floating">Chi phí dự án</label>
                  <input type="number" name="Price" [(ngModel)]="pro.priceProject"class="form-control">
                </div>
                <div class="form-group bmd-form-group">
                  <label class="bmd-label-floating">Mã loại</label>
                  <input type="number"name="IdCategory" [(ngModel)]="pro.idCategoryProject" class="form-control">
                </div>
                
               
                <div class="form-group bmd-form-group">
                  <label >Ngày bắt đầu</label>
                 <!-- <label for="exampleFormControlFile1">Example file input</label> -->
                 <input type="date" name="dateStart" [(ngModel)]="pro.dateStart" id="" class="form-control">
                
               </div>
               <div class="form-group bmd-form-group">
                <label >Ngày dự kiến hoàn thành</label>
               <!-- <label for="exampleFormControlFile1">Example file input</label> -->
               <input type="date" name="dateFinish" [(ngModel)]="pro.dateFinish" id="" class="form-control">
              
             </div>
             <div class="form-group bmd-form-group">
                <label class="bmd-label-floating">Địa điểm</label>
               <!-- <label for="exampleFormControlFile1">Example file input</label> -->
               <input type="text" name="location" [(ngModel)]="pro.location" id="" class="form-control">
              
             </div>
             <div class="form-group bmd-form-group">
                <label class="bmd-label-floating">Khách hàng</label>
               <!-- <label for="exampleFormControlFile1">Example file input</label> -->
               <input type="text" name="nameCustomer" [(ngModel)]="pro.nameCustomer" id="" class="form-control">
              
             </div>
             <div class="form-group bmd-form-group">
                <label class="bmd-label-floating">ID Khách hàng</label>
               <!-- <label for="exampleFormControlFile1">Example file input</label> -->
               <input type="number" name="idCustomer" [(ngModel)]="pro.idCustomer" id="" class="form-control">
              
             </div>
                  <div class="form-group bmd-form-group">
                    <label >Chi tiết dự án</label>
                    <!-- 
                    [(ngModel)]="selectedSP.description" -->
                      <ckeditor [editor]="editor" name="Description"  [(ngModel)]="pro.descriptionProject" ></ckeditor>
                  </div>
                  
                  
              
              
                         
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" (click)="addSP()" class=" btn btn-primary " (click)="closeModal()" data-dismiss="modal">Save</button>
              
            </div>
          </div>
        </div>
      </div>
      
      <script>
        $('#exampleModal').on('show.bs.modal', event => {
          var button = $(event.relatedTarget);
          var modal = $(this);
          // Use above variables to manipulate the DOM
          
        });
      </script>
        <div class="col-md-12">
          <div class="card">
            
            <div class="card-header card-header-primary">
              <h4 class="card-title ">Danh sách dự án</h4>
              <!-- <p class="card-category"> Here is a subtitle for this table</p> -->
            </div>
            <div class="card-body">
              <div class="table-responsive table-hover">
                <table class="table">
                  <thead class=" text-primary">
                    <th>
                     STT
                    </th>
                    <th>
                      Tên dự án
                    </th>
                    <th>
                    Hình ảnh đại diện
                    </th>
                    <!-- <th>
                     Hình ảnh khác
                    </th> -->
                    <th>
                      Chi phí
                    </th>
                    <th>
                        Loại
                      </th>
                      <th>
                        Ngày bắt đầu
                      </th>
                      <th>
                        Ngày hoàn thành
                      </th>
                      <th>
                        Địa điểm
                      </th>
                      <th>
                        Tên khách hàng
                      </th>
                      <th class="text-center">
                        Thao tác
                      </th>
                  </thead>
                  <tbody>
                  
                    <tr  *ngFor="let item of datas ;let i=index">
                      <td>
                        {{i+1}}
                      </td>
                      <td>
                        {{item.nameProject}}
                      </td>
                      <td>
                        <!-- <img src="../../../assets/img/Image/Products/{{item.Image}}" alt="">   -->
                        <img src="/assets/img/Image/Project/{{item.avatarProject}}" style="width: 60px;" alt="">                       
                      </td>
                      <!-- <td>
                        <img src="../../../assets/img/Image/Products/{{item.Image}}" alt="">  
                        <img src="/assets/img/Image/Project/{{item.imageProject}}" style="width: 60px;" alt="">                       
                      </td>
                      -->
                      <td class="text-primary">
                        <span> {{(item.priceProject | number: '0.00' )}} VNĐ
                           <!-- {{(item.Price | currency: " ").replace('.00',' ')}} -->
                        </span>                       
                      </td>
                      <td>
                        {{item.idCategoryProject}}
                      </td>
                      <td>
                        {{item.dateStart|date: 'dd/yyyy'}}
                      </td>
                      <td>
                        {{item.dateFinish|date: 'dd/yyyy'}}
                      </td>
                      <td>
                        {{item.location}}
                      </td>
                      <td>
                        {{item.nameCustomer}}
                      </td>
                     
                      <td>
                        <!-- <input type="button" class="btn btn-info" value="Sửa"> -->
                       

                       
                        <!-- Button trigger modal -->
                        <button type="submit" class="btn btn-info btn-small" id="#Sua" data-toggle="modal" (click)="onselect(item)" data-target="#modelIdEdit" >
                          <i  class="material-icons">edit</i>
                        </button>
                        
                        <!-- Modal -->
                        <div class="modal fade" id="modelIdEdit" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
                          <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Sửa thông tin sản phẩm</h5>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                  </div>
                              <div class="modal-body "  id="txtBody">
                                <div class="container-fluid">
                                 
                                  <div class="form-group bmd-form-group">
                                    <label >Mã dự án</label>
                                    <input type="number" name="id" [(ngModel)]="selectedSP.idProject"  class="form-control">
                                  </div>
                                  
                                  <div class="form-group">
                                    <label>Tên dự án</label>
                                    <input type="text" name="name" [(ngModel)]="selectedSP.nameProject"  class="form-control">
                                  </div>
                                  
                                 
                                   <div class="form-group">
                                    <label>Hình ảnh đại diện</label>
                                    <!-- <label for="exampleFormControlFile1">Example file input</label> -->
                                    <input type="text" name="avatarProject" [(ngModel)]="selectedSP.avatarProject" class="form-control" id="">
                                    <!-- <angular-editor [placeholder]="'Enter text here...'" [config]="editorConfig" [(ngModel)]="selectedSP.image"></angular-editor> -->
                                   <!-- <img src="/assets/img/Image/Products/{{item.image}}" alt=""> -->
                                  </div>
                                  <div class="form-group">
                                    <label>Hình ảnh khác</label>
                                    <!-- <label for="exampleFormControlFile1">Example file input</label> -->
                                    <input type="text" name="imageProject" [(ngModel)]="selectedSP.imageProject"  class="form-control" id="">
                                    <!-- <angular-editor [placeholder]="'Enter text here...'" [config]="editorConfig" [(ngModel)]="selectedSP.image"></angular-editor> -->
                                   <!-- <img src="/assets/img/Image/Products/{{item.image}}" alt=""> -->
                                  </div>
                                 
                                  <div class="form-group">
                                    <label >Chi phí</label>
                                    <input type="number"name="priceProject" [(ngModel)]="selectedSP.priceProject" class="form-control">
                                  </div>
                                  <div class="form-group ">
                                    <label >Loại</label>
                                    <input type="number" name="idCategoryProject" [(ngModel)]="selectedSP.idCategoryProject"class="form-control">
                                  </div>
                                  <div class="form-group bmd-form-group">
                                    <label>Ngày bắt đầu</label>
                                    <input type="date"name="dateStart" [(ngModel)]="selectedSP.dateStart" class="form-control">
                                  </div>
                                  <div class="form-group bmd-form-group">
                                    <label>Ngày kết thúc</label>
                                    <input type="date"name="dateFinish" [(ngModel)]="selectedSP.dateFinish" class="form-control">
                                  </div>
                                  <div class="form-group bmd-form-group">
                                    <label>Địa điểm</label>
                                    <input type="text"name="location" [(ngModel)]="selectedSP.location" class="form-control">
                                  </div>
                                  <div class="form-group bmd-form-group">
                                    <label>Tên khách hàng</label>
                                    <input type="text"name="nameCustomer" [(ngModel)]="selectedSP.nameCustomer" class="form-control">
                                  </div>
                                    
                                    <div class="form-group bmd-form-group">
                                      <label for="textarea" >Chi tiết sản phẩm</label>
                                      <!-- <ckeditor  data="<p>Hello, world!</p>" ></ckeditor> -->

                                      <!-- <ckeditor  [(ngModel)]="selectedSP.description" name="ck" ngDefaultControl editor="Editor"></ckeditor> -->


                                    
                                      <!-- <script src="{!! asset('@ckeditor/ckeditor5-ckfinder/ckfinder.js') !!}" type="text/javascript"></script>
                                      <script>
                                          CKEditor.replace('editor');
                                      </script>
                                        <textarea name="editor" class="ckeditor" id="editor"></textarea> -->
                                      <!-- <box-ckeditor  name="Description"  [(ngModel)]="selectedSP.Description"></box-ckeditor> -->
                                     
                                       <!-- <textarea name="Description"  [(ngModel)]="selectedSP.description" id="textarea" class="form-control" rows="3" required="required"> <ckeditor>Description</ckeditor> </textarea> -->
                                        <ckeditor [editor]="editor"  [(ngModel)]="selectedSP.descriptionProject"></ckeditor>
                                        
                                      
                                    </div>
                                
                                
                                  
                                  
                                  <!-- </form> -->
                                </div>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" (click)="putpr(selectedSP.idProject)" class="btn btn-primary" data-dismiss="modal">Save</button>
                              </div>
                            </div>
                          </div>
                        </div>
                        
                        <script>
                          $('#exampleModal').on('show.bs.modal', event => {
                            var button = $(event.relatedTarget);
                            var modal = $(this);                            
                          });
                        </script>
                        
                        
                      
                      <!-- <button type="submit" (click)="deleteSP(item.Id)" class="btn btn-danger" data-target="#modelIdDelete"> <i class="material-icons">delete</i></button> -->
                      
                        <!-- Button trigger modal -->
                        <button type="submit" class="btn btn-danger btn-small" id="#Xoa" (click)="onselect(item)"  data-toggle="modal" data-target="#modelIdDelete">
                          <i class="material-icons">delete</i>
                        </button>
                        
                        <!-- Modal -->
                        <div class="modal fade" id="modelIdDelete" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Lưu ý  </h5>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                  </div>
                              <div class="modal-body" id="txtBody">
                                <div class="container-fluid">
                                 Bạn có muốn xóa sản phẩm {{selectedSP.idProject}}
                                </div>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" (click)="deleteSP(selectedSP.idProject)"  class="btn btn-primary" data-dismiss="modal">Delete</button>
                              </div>
                            </div>
                          </div>
                        </div>
                        
                        <script>
                          $('#exampleModal').on('show.bs.modal', event => {
                            var button = $(event.relatedTarget);
                            var modal = $(this);
                            // Use above variables to manipulate the DOM
                            
                          });
                        </script>
                        
                        <!-- <input type="button" class="btn btn-danger" value="Xóa"> -->

                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- <nav aria-label="Page navigation example">
                <ul class="pagination">
                  <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                  <li class="page-item" *ngFor="let item of pages"><a class="page-link" href="#"> {{item}} </a></li>

                  <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
              </nav> -->
            </div>
          </div>
        </div>
       
      </div>
    </div>
  </div>
  
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

